<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            a{
                margin-top: 2%;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <img src="http://localhost/BookStorePhpVersion2/logo.jpg" width="50" height="50"/>
                    <h1>Đăng nhập</h1>
                    <form>

                        <div class="form-group">
                            <input type="text" name="username" value="" placeholder="Tên đăng nhập" required class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" value="" placeholder="Nhập mật khẩu" required class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button name="login" type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                            </div>
                            <a href="#" style="margin-top:1%">Quên mật khẩu</a>
                            <a href="#" style="margin-top:1%; margin-left:5%">Đăng ký</a>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </body>
</html>
